.bg-image {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(https://i.kym-cdn.com/entries/icons/facebook/000/038/934/maxresdefault.jpg);
    min-height: 100vh;
    height:100%;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }

.unique_container{
    padding-bottom: 225px;
    padding-top:100px;
    margin-right:50px;
    margin-left:50px;
    color:white;
}
th{
    color:white;
    
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
}