.bg-image {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(https://www.si.com/.image/t_share/MTY4MTA1MjQ3NjAwNjgyMjU3/vince-young-texas-rose-bowljpg.jpg);
    height: 100vh;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    color: #fff;
    text-align:center;
}
